{% extends 'base.html.twig' %}

{% block title %}New Answer{% endblock %}

{% block body %}
    <h1>Create new Answer</h1>

    {{ include('answer/_form.html.twig') }}

    <form action="{{ path('answer_index') }}">
        <button class="btn btn-primary" type="submit"><i class="fas fa-reply"></i>     Retour</button>
    </form>
{% endblock %}
