{% extends 'base.html.twig' %}

{% block title %}Edit Question{% endblock %}

{% block body %}
    <h1>Edit Question</h1>

    {{ include('question/_form.html.twig', {'button_label': '   Update'}) }}

    <form action="{{ path('question_index') }}">
        <button class="btn btn-primary" type="submit"><i class="fas fa-reply"></i>     Retour</button>
    </form>

    {{ include('question/_delete_form.html.twig') }}
{% endblock %}
