{% extends 'base.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}
    <h1>Edit Category</h1>

    {{ include('category/_form.html.twig', {'button_label': '   Update'}) }}

    <form action="{{ path('category_index') }}">
        <button class="btn btn-primary" type="submit"><i class="fas fa-reply"></i>     Retour</button>
    </form>

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
